In [ ]:
Organising list Datatypes

In [1]:
students=['rajesh','naveed','vindhya','asna','laiba','radhika','nikhil']

In [2]:
print(students)

['rajesh', 'naveed', 'vindhya', 'asna', 'laiba', 'radhika', 'nikhil']

In [ ]:
#req :i wanted to print naveed name ,what is the index i have to use..?

In [3]:
print(students[1])

naveed

In [4]:
print(students[1].title())

Naveed

In [5]:
cars =['kia','audi','bmw','civic','benz','mg']

In [6]:
print(cars)

['kia', 'audi', 'bmw', 'civic', 'benz', 'mg']

In [ ]:
# i want to arrange the above list in the alphabetical order...?   a-z

In [ ]:
#two approaches:
1.temp approach--->sorting===>we can retain the original order
2.permenant approach--->sort==>changesare applied permentely

In [7]:
print(sorted(cars))

['audi', 'benz', 'bmw', 'civic', 'kia', 'mg']

In [ ]:
benz and bmw===>e and m

In [8]:
print(cars)

['kia', 'audi', 'bmw', 'civic', 'benz', 'mg']

In [9]:
print(sorted(cars))

['audi', 'benz', 'bmw', 'civic', 'kia', 'mg']

In [10]:
cars.reverse()

In [11]:
print(cars)

['mg', 'benz', 'civic', 'bmw', 'audi', 'kia']

In [ ]:
# req:i want to count te no of element present in the list...?

In [12]:
len(cars)

6

In [ ]:
slicing of the list datatypes:

In [13]:
print(students)

['rajesh', 'naveed', 'vindhya', 'asna', 'laiba', 'radhika', 'nikhil']

In [ ]:
# general syntax of slicing :

In [ ]:
print(list[startvalue : stopvalue : stepcount])

In [ ]:
Note : stop value is always execlusive +1 to include the stop value.

In [ ]:
# i want to include rajesh annd naveed in the list..?

In [15]:
print(students[0:1])

['rajesh']

In [16]:
print(students[0:2])

['rajesh', 'naveed']

In [17]:
print(students[4:6])

['laiba', 'radhika']

In [18]:
print(students[2:4])

['vindhya', 'asna']

In [20]:
print(students[0:8:2])

['rajesh', 'vindhya', 'laiba', 'nikhil']