In [ ]:
Understanding The Variable in Python

In [1]:
x = 2
y = 3

In [2]:
z = x+y

print(z)

5

In [ ]:
Rules for declaring the variable in Python

In [ ]:
Rule : 1 - No Namespaces while declaring the variables

In [3]:
first name = 'Faizal'
print(first name)

SyntaxError: invalid syntax (2072851605.py, line 1)

In [4]:
firstname = "faizal"
print(firstname)

faizal

In [ ]:
Rule No 2 : A variables name shoule not start with a number **

In [6]:
1name = 'Faizal'
print(1name)

SyntaxError: invalid syntax (3257563462.py, line 1)

In [7]:
name1 = 'Faizal'
print(name1)

Faizal

In [ ]:
for executing we have to press Shift + enter button....

In [ ]:
introduction to datatypes in python :
    
    1. String ---- str
    2. Number ----integer(int)and floats (float) (decimal)
    3. lists  ----list
    4.tuples  ----tuple
    5.Dictionaries ----dict

In [ ]:
Classification of datatypes in python:
    1.Mutable -----which we can edit and alter---- flexible in nature
    2.immutable----which we cannot able to edit or alter--- fixed in nature

In [ ]:
intro to Sring datatypes:
Defination: A String is a series of character declared in quotes.
classification :it is classified as an immutable datatype
how to declare the string datatype..?
3 approaches of declaring the string.
1.single quote
2.double quote
3.triple quote.

In [9]:
name1 ='faizal' # single quote
print(name1)

faizal

In [10]:
name2 = "Faizal" #double quote
print(name2)

Faizal

In [11]:
name3 = """Faizal""" #triple quote
print(name3)

Faizal