In [ ]:
introduction to list Datatypes:

In [ ]:
defination: a list is a collection of items declared in a particular order.
classification : it is classified as a mutable datatypes.
how to declare the list datatype-----?[]

In [3]:
Students= ['aravind','shafi','john','david','nusrat','aradhya','nitya','asna']#0,1,2,3,4,5,6,7,

In [4]:
print(Students)

['aravind', 'shafi', 'john', 'david', 'nusrat', 'aradhya', 'nitya', 'asna']

In [5]:
type(Students)

list

In [ ]:
# how to access the above elements from the list...?

In [ ]:
introducion to indexing :0,1,2,3,4,...

In [ ]:
#reg: i wanted to access john name from the above list...?

In [6]:
print(Students[2])

john

In [ ]:
#reg: i wanted to access ARADHYA name from the above list...?

In [7]:
print(Students[5])

aradhya

In [8]:
print(Students[5].title())

Aradhya

In [ ]:
1.how to add new element to the list.
2.how to modify new element in the list
3.how to delete the element in the list

In [9]:
print(Students)

['aravind', 'shafi', 'john', 'david', 'nusrat', 'aradhya', 'nitya', 'asna']

In [ ]:
#req : i want to add 'sachin' name to the above list..

In [10]:
Students.append('sachin')

In [11]:
print(Students)

['aravind', 'shafi', 'john', 'david', 'nusrat', 'aradhya', 'nitya', 'asna', 'sachin']

In [ ]:
#req : i want to add 'lavanya' name to the above list..print(Students)

In [12]:
Students.append('lavanya')

In [13]:
print(Students)

['aravind', 'shafi', 'john', 'david', 'nusrat', 'aradhya', 'nitya', 'asna', 'sachin', 'lavanya']

In [ ]:
#req : i want to add 'Charan' name to the 2nd index..

In [14]:
Students.insert(2,'charan')

In [15]:
print(Students)

['aravind', 'shafi', 'charan', 'john', 'david', 'nusrat', 'aradhya', 'nitya', 'asna', 'sachin', 'lavanya']

In [16]:
print(Students[2])

charan

In [ ]:
interview que: what is the diff btw append and a insert method in a list...?

In [ ]:
#how to modify the element in the list.

In [17]:
print(Students)

['aravind', 'shafi', 'charan', 'john', 'david', 'nusrat', 'aradhya', 'nitya', 'asna', 'sachin', 'lavanya']

In [ ]:
# i want too modify charan to 'chaitanya'

In [18]:
print(Students[2])

charan

In [19]:
Students[2] = 'chaitanya'

In [20]:
print(Students)

['aravind', 'shafi', 'chaitanya', 'john', 'david', 'nusrat', 'aradhya', 'nitya', 'asna', 'sachin', 'lavanya']

In [ ]:
how to delete the element in the list

In [21]:
print(Students)

['aravind', 'shafi', 'chaitanya', 'john', 'david', 'nusrat', 'aradhya', 'nitya', 'asna', 'sachin', 'lavanya']

In [ ]:
# req: i want to delete 'david' from the above list...?

In [22]:
del Students[4]

In [23]:
print(Students)

['aravind', 'shafi', 'chaitanya', 'john', 'nusrat', 'aradhya', 'nitya', 'asna', 'sachin', 'lavanya']